parameters:
	level: 8
	paths:
		- src
	ignoreErrors:
		- '#Method App\\DoctrineCommand\\Request\\ListUserRequestInterface\:\:getName\(\) has no return typehint specified\.#'
		- '#Method [a-zA-Z\\]*\:\:get[a-zA-Z]*\(\) should return [a-zA-Z]* but returns [a-zA-Z]*\|null\.#'